awkward==1.1.2
awkward-cpp==7
dgl==0.9.1
gdown==4.6.0
googledrivedownloader==0.4
h5py==3.7.0
joblib==1.2.0
json-tricks==3.16.1
matplotlib==3.6.3
munch==2.5.0
networkx==3.0
nni==2.8
numpy==1.23.5
ogb==1.3.5
pandas==1.5.3
PyYAML==6.0
scikit-learn==1.2.0
scipy==1.10.0
simplejson==3.18.1
sparsebm==1.3
tqdm==4.64.1
uproot==4.0.4
